<link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'}" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'}"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<div th:fragment="header2" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <form th:action="@{'/price'}" method="get">
                    <div class="input-group">
                        <input type="number" aria-label="priceA" placeholder="0" class="form-control" name="min" min="0" th:value="${min}">
                        <input type="number" aria-label="priceB" placeholder="999999" class="form-control" name="max" max="9999999" th:value="${max}">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Price</button>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div class="header2" >
                    <ul class="nav justify-content-center" >
                        <li class="nav-item dropdown" th:each="genderList:${genders}">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" style="color: black" th:text="${genderList.gender}"></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:each="itemsCategoryList:${itemsCategory}" th:text="${itemsCategoryList.category}" th:href="@{'/sort-by-category/' + ${itemsCategoryList.id} + '/gender/' + ${genderList.id}}"></a></li>
<!--                                <li><a class="dropdown-item" th:href="@{'main1?category=Shoes&gender=Male'}">Shoes</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?category=T-Shirt&gender=Male'}">T-Shirt</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?category=Long Sleeves&gender=Male'}">Long Sleeves</a></li>-->
<!--                                <li><hr class="dropdown-divider"></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?gender=Male'}">All For Mens</a></li>-->
                            </ul>
                        </li>
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: black">Women</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li><a class="dropdown-item" th:href="${'/main1?category=Shoes&gender=Female'}">Shoes</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?category=T-Shirt&gender=Female'}">T-Shirt</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?category=Long Sleeves&gender=Female'}">Long Sleeves</a></li>-->
<!--                                <li><hr class="dropdown-divider"></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'/main1?gender=Female'}">All For Women</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false" style="color: black">Brands</a>-->
<!--                            <ul class="dropdown-menu">-->
<!--                                <li><a class="dropdown-item" th:href="@{'main1?brand=Under Armour'}">Under Armour</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'main1?brand=Diesel'}">Diesel</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'main1?brand=Calvin Klein Jeans'}">Calvin Klein Jeans</a></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'main1?brand=Tommy Hilfiger'}">Tommy Hilfiger</a></li>-->
<!--                                <li><hr class="dropdown-divider"></li>-->
<!--                                <li><a class="dropdown-item" th:href="@{'main1?brand=Gucci'}">Gucci</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#" style="color: black">New Collection</a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </div>

            <div class="col-3 text-end">
                <a th:href="@{'/admin'}" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')" style="color: black"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16" style="margin-right: 15px">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                </svg></a>
                <a href="#" style="color: black"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16" style="margin-right: 20px">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg></a>
                <a href="/basket" style="color: black"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-check " viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg></a>
            </div>
        </div>
    </div>
</div>